<%- include('./partials/header') %>

    <%- include('partials/navbar', { root: './views' }) %>
    <h1>ランダムな値：<%= rand %> </h1>
    <% if (rand % 2 === 0) { %>
        <h2>偶数</h2>
    <% } else { %>
        <h2>奇数</h2>
    <% } %>

    <h3><%= rand % 2 === 0 ? '偶数' : '奇数' %></h3>
    <%- include('partials/footer', { root: './views' }) %>