<%- include('partials/header', { root: './views' }) %>

    <%- include('partials/navbar', { root: './views' }) %>
    <h1>Browsing the <%= name %>
    </h1>
    <h2>Description: <%= description %>
    </h2>
    <h2>Subscribers: <%= subscribers %>
    </h2>
    <% for(let post of posts) { %>
        <article>
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%= post.author %>
            </p>
            <% if (post.img) { %>
                <img src="<%= post.img %>" alt="<%= post.title %>">
                <% } %>
        </article>
        <% } %>

        <%- include('partials/footer', { root: './views' }) %>
